@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">        
        <h4>Сайт для обмена сообщениями между пользователями</h4>
        <br />
        <div>
            @Html.ActionLink("Регистрация", "Register", "Account")
            <br>
            @Html.ActionLink("Авторизация", "Login", "Account")
        </div>
    </div>
</div>