
@{
    ViewBag.Title = "UnAuthorized";
}

<h2>Неавторизованный доступ!</h2>
<p>У вас нет прав доступа администратора к этой странице.</p>

<div>
    @Html.ActionLink("Вернуться", "Index", "Home")
</div>